<%= link_to "Home", nil, :class => 'brand' %>
<ul class="nav">
  <% if true %>
    <li>
    <%= link_to('Logout', nil, :method=>'delete') %>
    </li>
  <% else %>
    <li>
    <%= link_to "Sign in with Twitter", "/auth/twitter" %>
    <!-- <%= link_to('Login', new_user_session_path)  %>  !-->
    </li>
  <% end %>
  <% if true %>
    <li>
    <%= link_to('Edit account', nil) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Sign up', new_user_registration_path)  %>
    </li>
  <% end %>
</ul>  
